[build]
  publish = "public"
  command = """
    # Install JupyterLite and dependencies from requirements.txt
    pip install -r requirements.txt &&
    # Build the Hugo site
    hugo --minify --gc &&
    
    # Build the JupyterLite environment with contents from files directory
    jupyter lite build --contents files --output-dir public/live
  """

[build.environment]
#  HUGO_VERSION = "0.109.0"
  HUGO_VERSION = "0.140.0"
  HUGO_BASEURL = "/"
  PYTHON_VERSION = "3.11"

[[headers]]
  for = "/*" # This defines which paths this specific [[headers]] block will cover.
  [headers.values]
    X-Frame-Options = "DENY"
    X-XSS-Protection = "1; mode=block"
    Referrer-Policy = "same-origin"
    Strict-Transport-Security = "max-age=31536000; includeSubDomains; preload"
